#ignore all excution files and .o files
*.exe
*.o

#ignore all *.pyc files
*.pyc
*/__pycache__/
#ignore contents in .idea
School/2016spring/jisuanfangfa/.idea/*


#ignore all *.in and *.out
*.in
*.out

